body{
    margin: 1;
    color :aqua;
    background-color: #11191F;
    font-size: 20px;
}

.listEstiloJava{
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
}

.container{
    color:coral
}
.contenedorLabel
{
    height: auto;
    width: auto;
}
.box {   
    float: left;
    width: 307px;
    height: 300px;
    background-color: #11191F;
    margin-right: 10px;
    margin-right: 100px;
}

.containerdebotones{
    display: flex 1;
    padding: 10px;
    margin-top: 10px;
    border: 5px #11191F;
    
}

.boton{
    display: inline-block;
    margin-right: 10px;
    
}

.selected {
    background-color: yellow !important;
}

.nuevoDato{
    color: rgb(167, 170, 0);
    font-size: 18px;
}

#myList {
    list-style-type: none;
    padding: 0;
}

#myList li {
    cursor: pointer;
    padding: 5px;
}

#myList li.selected {
    background-color: yellow;
}

.boxEvent{
    min-width: 300px;
    
}

button {
margin: 0; 
overflow: visible; 
font-family: inherit; 
text-transform: none; 
}

